*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
.aside-bar{
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 padding: 12px;
 background: #FAFAFA ;
 width: 15%;
 height: 100vh;

}

#logo{
    height: 150px;
    width: 150px;
    margin-left: 7px;
    /* width: 100% auto; */
}
.nav-links{
display: block;
}
.nav-links ul{
    list-style: none;
    
}
.nav-links ul li{
    padding: 12px;
    /* margin: auto; */
    margin-left: 7px;
    box-sizing: border-box;
    width: 120px;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    align-items: flex-start;
    font-size: 10px;
    border: #FAFAFA;
    cursor: pointer;
    transition: 0.5s;

}
.nav-links ul li:hover{
    background: #FC6C0F;
    opacity: 70%;
}

.title-health-form{
    width: 88%;
}
.student-icon{
    align-items: flex-end;
    background: #1C2D50;
    height: 50px;

}
#icon{
    float: right;
    margin-right:20px;
    padding-top: 12px;
    padding-right: 18px;
    color: #FAFAFA;
}
.help {
    /*display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center !important;
    margin-top: 5%;
    background-color: #FAFAFA;
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;*/

    align-items: center;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    left: 589px;
    min-height: 817px;
    padding: 137px 260px;
    position: absolute;
    top: 260px;
    width: 1134px;
    
}
.help-images img{
    height: 200px;
    padding-top: 100px;
}
.help ul {
    list-style: none;
    padding-bottom: 150px;
}
.help ul a {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    font-size: 25px;
    
   
    
}
.help-text {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 500;
}