* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1C2D50;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, Tahoma, sans-serif;
}

.box {
    width: 30%;
    height: 60%;
    background-color: #D9D9D9;
    padding: 20px;
    margin: 8% auto 0;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 20px;
}

/* .box img {
    width: 150px;
    /* height: 10%; */
    /* margin-top: -50px;
    padding-bottom: 30px;
} */ */

.header {
    width: 300px;
    height: 50px;
    text-transform: uppercase;
    display: inline-flex;
    padding-top: 20px;
    padding-bottom: 0;
    justify-content: space-between;
}

.header a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    display: inline-flex;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
    cursor: pointer;
}

.header .active {
    color: #FC6C0F;
    font-weight: bold;
    position: relative;
}

.header .active:after {
    position: absolute;
    border: none;
    content: "";
}

.main-container {
    background: #1C2D50;
}
#errorMsg {
    color: #FC6C0F;
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;

}

.content {
    display: inline-flex;
    overflow: hidden;
    
}

form {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-direction: column;
    transition: right 0.5s;
}
.logo{
    height: 100%;
}

.login-page {
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
}

.username-password {
    text-align: center;
    display: flex;
    justify-content: center;
    /* background: #FAFAFA; */
    height: 50vh;
    align-items: center;
    font-size: 20;
}
.login a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;

}

#signup {
    color: #000000;
}

.extend form {
    right: 100%;
}
.loginbtn{
display: block;
position: relative;
border: 3px solid #FC6C0F;
padding: 12px;
margin-bottom: 20px;
width: 50%;
margin:auto;
border-radius: 25px;
background-color: #FC6C0F;
text-align: center;
font-size: 20px;
color: #ffffff;
cursor: pointer;
outline: none;
}

input[type=text],
input[type=password],
input[type=email] {
    display: block;
    position: relative;
    border: 4px solid #ffffff;
    padding: 12px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
    outline: none;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover {
    border: 4px solid #FC6C0F;

}

input[type=submit] {
    display: block;
    position: relative;
    border: 3px solid #FC6C0F;
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 25px;
    background-color: #FC6C0F;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.loginbtn:hover {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

input[type=checkbox] {
    background-color: #FC6C0F;
}

#check {
    margin-top: 10px;
    text-align: left;
    color: black;
    font-size: 15px;
}


#forget {
    color: black;
}

.aside-bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 12px;
    background: #FAFAFA;
    width: 15%;
    overflow: hidden;
    /* height: 100vh; */

}

.mylogo img{
  
    height: 170px;
    padding-bottom: 50px;

}

.nav-links {
    display: block;
}

.nav-links ul {
    list-style: none;

}

.nav-links ul li {
    padding: 18px;
    /* margin: auto; */
    margin-left: 7px;
    box-sizing: border-box;
    width: 250px;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
    align-items: flex-start;
    font-size: 17px;
    border: #FAFAFA;
    cursor: pointer;
}

.nav-links ul li:hover {
    background: #FC6C0F;

}

.fa {
    padding-right: 12px;
    align-items: center;
    align-content: center;
    font-size: 30px;
}

.nav-links ul li:hover {
    background: #FC6C0F;

}

.fa {
    padding-right: 12px;
    align-items: center;
    align-content: center;
    font-size: 30px;
}

.title-health-form {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.student-icon {
    align-items: flex-end;
    background: #1C2D50;
    height: 90px;

}

#icon {
    float: right;
    margin-right: 30px;
    padding-top: 18px;
    padding-right: 18px;
    color: #FAFAFA;
    text-decoration: none;
    font-size: 28px;
}

.text-box {
    box-sizing: border-box;
    background: #FAFAFA;
    margin-left: 10%;
    height: 100px;
    margin-top: 50px;
    width: 80%;
    border-radius: 8px;
    padding: 15px 30px 30px 20px;
    text-align: center;
    margin-bottom: 50px;

}

.text-box>p {
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 18px;
}

.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    background: #FAFAFA;
    margin-left: 10%;
    margin-top: 50px;
    width: 80%;
    border-radius: 10px;
    height: 50%;
    text-align: left;
    margin-bottom: 50px;

}

.pre-next-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 28px;
    margin-right: 28px;
    /* background: #FC6C0F; */
}

.previous-next a {
    color: black;
    box-sizing: border-box;
    /* height: 100px;
    width: 150px; */
    background: #FAFAFA;
    border-radius: 10px;
    width: 80px;
    text-decoration: none;
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px 30px 15px 30px;
}

.quiz-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* background: #FC6C0F; */
    width: 80%;
    height: 50px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 18px;
    padding-bottom: 5px;
}

.quiz-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* background: #FC6C0F; */
    width: 80%;
    height: 50px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 18px;
    padding-bottom: 5px;
}

.quiz-3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    height: 50px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10%;
    margin-bottom: 10%;
    font-size: 18px;
    padding-bottom: 5px;
}

#next-icon {
    /* background: #FC6C0F; */
    padding-left: 12px;
    color: #FC6C0F;
    font-size: 40px;
    padding-top: 10px;
    margin-top: 60px;
}

@media(max-width:700px) {
    .container {
        overflow: hidden;
    }

    .title-health-form {
        width: 85%;
    }

    .text-box>p {
        font-size: 17px;
    }

    .title-health-form {
        font-size: 20px;
    }

    .nav-links ul li {

        display: block;

    }

    .nav-links {
        font-weight: 300;
    }

    /* @media(max-width:700px) { */
        .title-health-form {
            width: 85%;
        }

        .text-box>p {
            font-size: 17px;
        }

        .title-health-form {
            font-size: 20px;
        }

        .nav-links ul li {

            display: block;

        }

        .nav-links {
            position: absolute;
            background: #FC6C0F;
            height: 100vh;
            width: 150px;
            top: 0;
            /* right: 0; */
            text-align: left;
            z-index: 2;
        }

        .aside-bar img {
            display: none;
        }

        .pre-next-section a {
            padding: 0%;
            font-size: 15px;
            width: 20px;
            justify-content: center;
        }

        #next-icon {
            font-size: 17px;
        }

        /* .help-email{
        font-size: 18px;
    } */
        #help-message {
            font-size: 4px;
        }

        .help-email {
            width: 80%;

        }

        #help-message {
            width: 80%;

        }

        #contact-icon {
            width: 80%;
        }

    

}

.check-section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 70%; */
    margin-top: 12px; 
   
}
.upper-part{
    margin-bottom: 10px;
    font-size: 30px;
    /* background: #FC6C0F; */
    margin-bottom: 2px;


}
.form2{
    background: #FAFAFA;
    box-sizing: border-box;
    margin-left: 10%;
    width: 80%;
    margin: auto;
    height: 60%;
    border-radius: 20px;
    justify-content: center;
    padding: 18px 19px 18px 18px;
}

.date-time {
    font-size: 20px;
    margin-bottom: 25px;

}

#Date {
    box-sizing: border-box;
    background-color: #FAFAFA;
    font-size: 20px;
    border-radius: 80px;
    border: 2px solid #D9D9D9;
    padding-left: 50px;
    margin-left: 30px;
    margin-right: 50px;
}


#Time-in {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border: 2px solid #D9D9D9;
    font-size: 20px;
    border-radius: 80px;
    padding: 10px 10px;
    margin-left: 150px;



}

.Room-floor {
    font-size: 20px;
    display: flex;
    align-content: center;
    margin-bottom: 25px;


}

#Room {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border: 2px solid #D9D9D9;
    border-radius: 80px;
    padding-right: 80px;
    padding-left: 40px;
    font-size: 20px;
    padding-left: 50px;
    margin-left: 30px;
    margin-right: 50px;
}


#Floor {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border: 2px solid #D9D9D9;
    border-radius: 0px;
    padding: 34px 34px 10px 30px;
    font-size: 20px;
    padding-left: 50px;
    margin-left: 150px;
    margin-right: 50px;

}


.laptop-name {

    
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 25px;

}

#laptop {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border: 2px solid #D9D9D9;
    border-radius: 80px;
   margin-left: 100px;
   padding: 34px;
   
   font-size: 20px;
 


}

.serialno {
    font-size: 20px;
    display: flex;
    align-content: center;
    margin-bottom: 25px;

}

#serialnumber {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border: 2px solid #D9D9D9;
    border-radius: 80px;
    padding: 10px 10px;
    width: 60%;
    /* font-size: 20px; */

}
.checkin a{
    text-decoration: none;
    color: white ;
    width: 200px;

}

#btn {
    font-size: 30px;
    text-align: center;
    border-radius: 70px;
    width: 400px;
    color: #FAFAFA;
    background: #FC6C0F;
    border: 0px;
    margin-left: 28%;
    cursor: pointer;
}
#btn:hover{
    background: #FAFAFA;
    color: black;
}

 .helpdesk {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #FAFAFA;
        border-radius: 48px;
        padding: 40px 40px;
        margin: auto;
        width: 50%;
        height: 50%;
        margin-top: 10%;
    }

    .help-image {
        align-self: center;
        margin-top: 0px;
        padding-top: 8px;

    }

    .help-image img {
        height: 250px;
        width: 250px;


        /* padding-left: 20%; */


    }

    .help-email {
        align-self: center;
        margin-top: 0px;
    }

    .help-email a {
        font-size: 24px;
        margin-left: 10%;
        color: black;
        font-weight: 300;

    }

    #help-message {
        font-size: 40px;
        padding-top: 5px;
        font-weight: 500;

    }

    #contact-icon {
        text-decoration: none;
    }

    .report-table {
        background: #CFCECE;
        width: 80%;
        height: 70%;
        margin: auto;
        margin-top: 7%;
        box-sizing: border-box;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .attendance-table {
        align-self: center;
        padding-top: 10;
        margin-top: 50%;
        border: none;
        top: 20px;
        background: #FAFAFA;
        width: 80%;
        height: 80%;
        margin: auto;
        outline: none;
        border-radius: 20px;
        border: 1px solid #CCC;
        /* border-collapse: collapse;*/
        border-collapse: separate;


    }

    .rows input {
        border: none;
        outline: none;
    }

    .rows1 input {
        border: none;
        outline: none;
        background-color: #D9D9D9;
    }

    .rows2 input {
        border: none;
        outline: none;
        background-color: #FAFAFA;
    }

    .rows3 input {
        border: none;
        outline: none;
        background-color: #D9D9D9;
    }

    .rows4 input {
        border: none;
        outline: none;
        background-color: #FAFAFA;
    }

    .rows5 input {
        border: none;
        outline: none;
        background-color: #D9D9D9;
    }

    .rows {
        background-color: #FAFAFA;


    }

    .rows1 {
        background-color: #D9D9D9;

    }

    .rows2 {
        background-color: #FAFAFA;
    }

    .rows3 {
        background-color: #D9D9D9;
    }

    .rows4 {
        background-color: #FAFAFA;
    }

    .rows5 {
        background-color: #D9D9D9;
    }

    .attendance-table,
    tr,
    td {
        outline: none;
        border: none;

    }

    tr {
        text-align: center;
    }

    td {
        border: none;
    }

    #next-icon {
        font-size: 17px;
    }


@media(max-width:1600px) {
    .nav-links ul li {
        padding-bottom: 20px;
        width: 100%;
    }

    .nav-links ul li a {
        font-size: 18px;
    }

    .student-icon {
        height: 90px;

    }

    .aside-bar img {
        width: 100%;

    }

}

.quest-section {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FAFAFA;
    border-radius: 15px;
  

}

.arrival-time {
    display: flex;
    justify-content: space-around;
    margin-left: 6.4%;
    flex-direction: row;
    width: 90%;
    padding-top: 10px;
    height: 10%;
}
.arrival-time h3{
    margin-left: 10px;
}

.quest-name {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
    height: 10%;
}

.quest-contact {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
    height: 7%;
}

.items {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
    height: 7%;
}

.save {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: 7%;
}

div h3 {
    font-size: 20px;
    padding-left: 12px;
    font-weight: 400;
}

.arrival-time input {
    height: 40px;
    width: 200px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;
}

.quest-contact input {
    height: 40px;
    width: 200px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;

}

.quest-name input {
    height: 40px;
    width: 400px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;
}

.quest-contact input {
    height: 40px;
    width: 400px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;
}

.save button {
    height: 50px;
    width: 60%;
    font-size: 30px;
    align-content: center;
    padding-bottom: 25px;
    background: #FC6C0F;
    border-radius: 12px;
    border: 1px solid #D9D9D9;
    margin-bottom: 10%;
    margin-top: 10%;
    cursor: pointer;
    padding-bottom: 18px;
}

.save button:hover {
    color: black;
    background: #D9D9D9;
}

.items input {
    height: 40px;
    width: 400px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;
}
.profile-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 60%;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    border-radius: 2%;
}
.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background: #FC6C0F;
    height: 70%;
    box-sizing: border-box;
    background: #FAFAFA;
    border-radius: 18px;
}

.profile-table {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    border-radius: 18px;


}
table {
    margin: auto;
    width: 100%;
    height: 80%;
}
#profile-icon {
    font-size: 250px;
    text-align: center;
    align-items: center;
    color: #1C2D50;
    padding-top: 20px;
}
.profile-image {
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 0%;
}
.profile-name {
    background: white;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: left;
    font-size: 26px;
    /* margin-left: 30px; */
}
td:nth-child(1) {
    font-weight: 400;
    font-size: 24px;
    padding-left: 20px;
}

.content-part {
    /* background: #FC6C0F; */
    width: 90%;
    margin-left: 15%;
    margin-top: 0%;
    /* align-items: center; */
    box-sizing: border-box;
    border-radius: 12px;
    /* height: 100%; */
    display: flex;
    justify-content: center;
}

.upper-part p {
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 17%;
    font-size: 30px;


}

.lower-part {
    padding: 40px 30px 40px 30px;
    background-color: #FAFAFA;
    box-sizing: border-box;
    width: 80%;
    border-radius: 15px;
    margin-top: 50px;
    margin-right: 80px;
    margin-bottom: 60px;
    /* height: 20%; */


}

.date-time {
    font-size: 20px;
    align-content: center;
    margin-bottom: 25px;

}

#Date {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 80px;
    padding: 10px 10px;




}


#Time-in {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 80px;
    padding: 10px 10px;
    justify-content: flex-end;



}

.Room-floor {
    font-size: 20px;
    align-content: center;
    margin-bottom: 25px;

}

#Room {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 80px;
    padding: 10px 10px;

}

#Floor {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 80px;
    padding: 10px 10px;

}

.laptop-name {

    font-size: 20px;
    align-content: center;
    margin-bottom: 25px;

}

#laptop {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 80px;
    padding: 10px 10px;



}

.serialno {
    font-size: 20px;
    align-content: center;
    margin-bottom: 25px;

}

#serialnumber {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 80px;
    padding: 10px 10px;

}

.checkin {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    border-radius: 80px;
    margin-top: 7%;
    font-size: 30px;
    background-color: #FC6C0F;
    padding: 10px 10px 20px 20px;

}


.radio-section {

    width: 80%;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;

}
