/* login section*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    background: #1C2D50;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page {
    background: #FAFAFA;
    width: 45%;
    height: 70vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
}

.username-password {
    text-align: center;
    display: flex;
    justify-content: center;
    background: #FAFAFA;
    height: 50vh;
    align-items: center;
    font-size: 20;
}

#username {
    height: 40px;
    width: 120%;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid;
    padding: 10px;
}

#password {
    height: 40px;
    width: 120%;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid;
    padding: 10px;
}

#login {
    height: 40px;
    width: 120%;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #FC6C0F;
}

.forgot-password {
    margin-top: 30px;
    text-decoration: underline;
}

button {
    color: #FAFAFA;
    border: none;
}

#tag {
    text-align: left;
}

.container{
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
.aside-bar{
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 padding: 12px;
 background: #FAFAFA ;
 width: 15%;
 /* height: 100vh; */

}

.aside-bar img{
    width: 100%;
    
}
.nav-links{
display: block;
}
.nav-links ul{
    list-style: none;
    
}
.nav-links ul li{
    padding: 18px;
    /* margin: auto; */
    margin-left: 7px;
    box-sizing: border-box;
    width: 250px;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
    align-items: flex-start;
    font-size: 17px;
    border: #FAFAFA;
    cursor: pointer;


}

.nav-links ul li:hover {
    background: #FC6C0F;

}

.fa {
    padding-right: 12px;
    align-items: center;
    align-content: center;
    font-size: 30px;
}

.title-health-form {
    width: 85%;
}

.student-icon {
    align-items: flex-end;
    background: #1C2D50;
    height: 90px;

}
#icon{
    float: right;
    margin-right:30px;
    padding-top: 18px;
    padding-right: 18px;
    color: #FAFAFA;
    text-decoration: none;
    font-size: 28px;
}
.text-box{
    box-sizing: border-box;
    background: #FAFAFA;
    margin-left: 10%;
    height: 100px;
    /* justify-content: center; */
    margin-top: 50px;
    width: 80%;
    border-radius: 8px;
    padding: 15px 30px 30px 20px;
    text-align: center;
    margin-bottom: 50px;

}
.text-box > p{
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 18px;
}
.form{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    box-sizing: border-box;
    background: #FAFAFA;
    margin-left: 10%;
    margin-top: 50px;
    width: 80%;
    border-radius: 10px;
    height: 50%;
    text-align: left;
    margin-bottom: 50px;
    
}
.pre-next-section{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    margin-left: 28px;
    margin-right: 28px;
    /* background: #FC6C0F; */
}
.previous-next a{
    color: black;
    box-sizing: border-box;
    /* height: 100px;
    width: 150px; */
    background: #FAFAFA;
    border-radius: 10px;
    width: 80px;
    text-decoration: none;
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px 30px 15px 30px;
}
.quiz-1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* background: #FC6C0F; */
    width: 80%;
    height: 50px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 18px;
    padding-bottom: 5px;
}

.quiz-2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* background: #FC6C0F; */
    width: 80%;
    height: 50px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 18px;
    padding-bottom: 5px;
}
.quiz-3{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    height: 50px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10%;
    margin-bottom: 10%;
    font-size: 18px;
    padding-bottom: 5px;
}
#next-icon{
    /* background: #FC6C0F; */
    padding-left: 12px;
    color: #FC6C0F;
    font-size: 40px;
    padding-top: 10px;
    font-weight: 300;
}
@media(max-width:700px){
    .title-health-form{
        width: 85%;
    }
    .text-box > p{
        font-size: 17px;
    }

    .title-health-form{
        font-size: 20px;
    }
    .nav-links ul li{
       
        display: block;
      
    }
    .nav-links{
        position: absolute;
        background: #FC6C0F;
        height: 100vh;
        width: 150px;
        top: 0;
        /* right: 0; */
        text-align: left;
        z-index: 2;
    }
    .aside-bar img{
        display: none;
    }
    .pre-next-section a{
        padding: 0%;
        font-size: 15px;
        width: 20px;
        justify-content: center;
    }
    #next-icon{
        font-size: 17px;
    }
}
@media(max-width:1600px){
    .nav-links ul li{
        padding-bottom: 20px;
        width: 100%;
    }
    .nav-links ul li a{
        font-size: 18px; 
    }
    .student-icon{
        height: 90px;
    
    }
    .aside-bar img{
        width: 100%;
        
    }

}
.quest-section{
    width: 80%;
    margin: auto;
    margin-top: 6%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #FAFAFA;
    border-radius: 15px;
    /* background:#FC6C0F; */
   
}
.arrival-time{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #FC6C0F;
    width: 90%;
    padding-top: 30px;
    margin-top: 30px;
    height: 10%;
}
.quest-name{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: #FC6C0F;
    width: 90%;
    padding-top: 30px;
    margin-top: 30px;
    height: 10%;
}

.quest-contact{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: #FC6C0F;
    width: 90%;
    padding-top: 30px;
    margin-top: 30px;
    height: 10%;
}
.items{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: #FC6C0F;
    width: 90%;
    padding-top: 30px;
    margin-top: 30px;
    height: 10%;
}
.save{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #FC6C0F;
    width: 80%;
    padding-top: 30px;
    margin-top: 30px;
    height: 10%;
}

/* .yes-no input{
    position: absolute;
  
    cursor: pointer;
    height: 20px;
    width: 20px;
 
}

        
.checkmark {
    position: absolute;
    
    top: 20px;
    left: 20px;
    height: 29px;
    width: 29px;
    background: #FC6C0F;
  }
.yes-no:hover input ~ .checkmark {
    background-color: #FAFAFA;
  }
  .yes-no input:checked ~ .checkmark {
    background-color:#FC6C0F
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .yes-no input:checked ~ .checkmark:after {
    display: block;
  }
  .yes-no .checkmark:after {
    left: 15px;
    top: 15px;
    width: 5px;
    height: 10px;
    border: solid rgb(88, 60, 60);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */
  