*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
.aside-bar{
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 padding: 12px;
 background: #FAFAFA ;
 width: 15%;
 height: 100vh;

}

#logo{
    height: 200px;
    width: 250px;
    margin-left: 7px;
    /* width: 100% auto; */
}
.nav-links{
display: block;
}
.nav-links ul{
    list-style: none;
    
}
.nav-links ul li{
    padding: 18px;
    /* margin: auto; */
    margin-left: 7px;
    box-sizing: border-box;
    width: 250px;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    align-items: flex-start;
    font-size: 17px;
    border: #FAFAFA;
    cursor: pointer;
    

}
.nav-links ul li:hover{
    background: #FC6C0F;

}
.fa{
    padding-right: 12px;
    align-items: center;
    align-content:center;
    font-size: 30px;
}

.title-health-form{
    width: 85%;
}
.student-icon{
    align-items: flex-end;
    background: #1C2D50;
    height: 90px;

}
#icon{
    float: right;
    margin-right:30px;
    padding-top: 18px;
    padding-right: 18px;
    color: #FAFAFA;
    text-decoration: none;
    font-size: 28px;
}
.text-box{
    box-sizing: border-box;
    background: #FAFAFA;
    margin-left: 10%;
    height: 100px;
    /* justify-content: center; */
    margin-top: 50px;
    width: 80%;
    border-radius: 8px;
    padding: 15px 30px 30px 20px;
    text-align: center;
    margin-bottom: 50px;

}
.text-box > p{
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 18px;
}
.form{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    box-sizing: border-box;
    background: #FAFAFA;
    margin-left: 10%;
    margin-top: 50px;
    width: 80%;
    border-radius: 10px;
    height: 50%;
    text-align: left;
    margin-bottom: 50px;
    
}
.pre-next-section{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    margin-left: 28px;
    margin-right: 28px;
    /* background: #FC6C0F; */
}
.previous-next a{
    color: black;
    box-sizing: border-box;
    /* height: 100px;
    width: 150px; */
    background: #FAFAFA;
    border-radius: 10px;
    width: 80px;
    text-decoration: none;
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px 30px 15px 30px;
}
.quiz-1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* background: #FC6C0F; */
    width: 80%;
    height: 50px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 18px;
    padding-bottom: 5px;
}

.quiz-2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* background: #FC6C0F; */
    width: 80%;
    height: 50px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 18px;
    padding-bottom: 5px;
}
.quiz-3{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    height: 50px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 10%;
    margin-bottom: 10%;
    font-size: 18px;
    padding-bottom: 5px;
}
@media(max-width:700px){

    .title-health-form{
        .font-size: 20px;
    }
    .nav-links ul li{
       
        display: block;
      
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 300px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
/* .yes-no input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    background: #FC6C0F;
}

        
.checkmark {
    position: absolute;
    
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #FC6C0F;
  }
.yes-no:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .yes-no input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .yes-no input:checked ~ .checkmark:after {
    display: block;
  }
  .yes-no .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(88, 60, 60);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */
  