*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
.aside-bar{
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 padding: 12px;
 background: #FAFAFA ;
 width: 15%;
 height: 100vh;

}

.aside-bar img{
    width: 100%;
    
}
.nav-links{
display: block;
}
.nav-links ul{
    list-style: none;
    
}
.nav-links ul li{
    padding: 18px;
    /* margin: auto; */
    margin-left: 7px;
    box-sizing: border-box;
    width: 250px;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    align-items: flex-start;
    font-size: 17px;
    border: #FAFAFA;
    cursor: pointer;
    

}
.nav-links ul li:hover{
    background: #FC6C0F;

}
.fa{
    padding-right: 12px;
    align-items: center;
    align-content:center;
    font-size: 30px;
}

.title-health-form{
    width: 85%;
}
.student-icon{
    align-items: flex-end;
    background: #1C2D50;
    height: 90px;

}
#icon{
    float: right;
    margin-right:30px;
    padding-top: 18px;
    padding-right: 18px;
    color: #FAFAFA;
    text-decoration: none;
    font-size: 28px;
}
.pre-next-section{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    margin-left: 28px;
    margin-right: 28px;
    /* background: #FC6C0F; */
}
.previous-next a{
    color: black;
    box-sizing: border-box;
    /* height: 100px;
    width: 150px; */
    background: #FAFAFA;
    border-radius: 10px;
    width: 80px;
    text-decoration: none;
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px 30px 15px 30px;
}
@media(max-width:700px){
    .title-health-form{
        width: 85%;
    }
    .text-box > p{
        font-size: 17px;
    }

    .title-health-form{
        font-size: 20px;
    }
    .nav-links ul li{
       
        display: block;
      
    }
    .nav-links{
        position: absolute;
        background: #FC6C0F;
        height: 100vh;
        width: 150px;
        top: 0;
        /* right: 0; */
        text-align: left;
        z-index: 2;
    }
    .aside-bar img{
        display: none;
    }
    .pre-next-section a{
        padding: 0%;
        font-size: 15px;
        width: 20px;
        justify-content: center;
    }
    #next-icon{
        font-size: 17px;
    }
}
@media(max-width:1600px){
    .nav-links ul li{
        padding-bottom: 20px;
        width: 100%;
    }
    .nav-links ul li a{
        font-size: 18px; 
    }
    .student-icon{
        height: 90px;
    
    }
    .aside-bar img{
        width: 100%;
        
    }

}


.content-part {
    /* background: #FC6C0F; */
    width: 80%;
    margin-left: 15%;
    margin-top: 0%;
    align-items: center;
    box-sizing: border-box;
    border-radius: 12px;
    height: 80%;
    
    
}

.upper-part p {
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 17%;
    font-size: 30px;
    
    
}
.lower-part{
    padding: 40px 30px 40px 30px;
    background-color: #FAFAFA;
    box-sizing: border-box;
    border-radius: 90px;
    margin-top:50px;
    margin-right: 80px;
    margin-bottom: 60px;
    
    
}
.date-time{
    font-size: 20px;
    align-content: center;
    margin-bottom: 25px;

}
#Date{
    box-sizing: border-box;
    background-color:#FAFAFA ;
    border-radius: 80px;
    padding: 10px 10px;




}

    
#Time-in {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 80px; 
padding: 10px 10px;
justify-content: flex-end;



}
.Room-floor {
    font-size: 20px;
    align-content: center;
    margin-bottom: 25px;

}
#Room {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 80px;
    padding: 10px 10px;

}
#Floor {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 80px;
    padding: 10px 10px;

}
.laptop-name {

    font-size: 20px;
    align-content: center;
    margin-bottom: 25px;

}
#laptop {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 80px;
    padding: 10px 10px;
    


}
.serialno {
    font-size: 20px;
    align-content: center;
    margin-bottom: 25px;

}
#serialnumber {
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 80px;
    padding: 10px 10px;

}

.checkin {
    box-sizing: border-box;
    width: 90%;
    border-radius: 80px;
    margin-top: 7%;
   margin-left: 5%;
    font-size: 30px;
    background-color: #FC6C0F;
    padding: 10px 10px 20px 20px;

}
#btn{
    font-size: 30px;
    text-align: center;
    color: #FAFAFA;
    background: #FC6C0F;
    border: 0px ;
    margin-left: 28%;
}

